<div class="box-sobre clearfix">
  <div class="grid_16">
    <h1>Aplicativos Multas Sociais</h1>
  
    <h2>Baixe agora os aplicativos desenvolvidos para o Multas Sociais!</h2>
    
    <table width="95%">
      <tr>
        <td>    
          <strong>- Multas Sociais Android by manero</strong>
        </td>
        <td>
          Download: <%= link_to "Google Play", "https://play.google.com/store/apps/details?id=net.multassociais.mobile" %><br/>
          <br/>
        </td>
        <td>
          Fonte: <%= link_to "GitHub", "https://github.com/manero/MultasSociaisAndroid" %><br/>
          <br/>
        </td>
      </tr>
      <tr>
        <td>    
          <strong>- Multas Sociais Android by brunont</strong>
        </td>
        <td>
          Download: <%= link_to "Google Play", "https://play.google.com/store/apps/details?id=io.trigger.forge4242f3843db911e280a412313d31f141" %><br/>
          <br/>
        </td>
        <td>
          Fonte: <%= link_to "GitHub", "https://github.com/brunont/multas-sociais-mobile" %><br/>
          <br/>
        </td>
      </tr>
      <tr>
        <td>    
          <strong>- Multas Sociais iPhone by mauriliohrc</strong>
        </td>
        <td>
          Download: App Store - Em breve<br/>
          <br/>
        </td>
        <td>
          Fonte: <%= link_to "GitHub", "https://github.com/mauriliohrc/Multas-Sociais-para-iOS" %><br/>
          <br/>
        </td>
      </tr>
      <tr>
        <td>    
          <strong>- Multas Sociais Windows8 by giggio</strong>
        </td>
        <td>
          Download: Windows Store - Em breve<br/>
          <br/>
        </td>
        <td>
          Fonte: <%= link_to "GitHub", "https://github.com/giggio/multassociais-windowsapps" %><br/>
          <br/>
        </td>
      </tr>
    </table>
    
    <p>
    Obs.: Os aplicativos foram desenvolvidos pela <%= link_to "API", api_index_url %> do Multas Sociais e são de responsabilidade de seus respectivos criadores.<br/>
    Qualquer dúvida, envie um e-mail para <a href="mailto:api@multassociais.net" target="_blank">api@multassociais.net</a>.
    </p>

  </div>
  <br/>
</div>
