<%= form_for @multa, :html => {:multipart => true } do |f| %>
  <% if @multa.errors.any? %>
    <div class="item-form" id="error_explanation">
      <%= pluralize(@multa.errors.count, "erro") %> impediu que esta Multa Social fosse salva:

      <ul>
      <% @multa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="block"></div>-->
  
  <div class="item-form">
    <%= f.label 'Data e hora (aproximada) da Ocorrência' %><br />
    <%= f.datetime_select :data_ocorrencia %>
  </div>
  <div class="item-form">
    <%= f.label :placa %><br />
    <%= f.text_field :placa %>
  </div>
  <div class="item-form">
    <%= f.label :foto %><br />
    <%= f.file_field :foto %>
  </div>
  <div class="item-form">
    <%= f.label "Vídeo (URL do Youtube)" %><br />
    <%= f.text_field :video %>
  </div>
  <div class="item-form">
    <%= f.label 'Descrição da Ocorrência' %><br />
    <%= f.text_area :descricao %>
  </div>
  
  <div class="actions">
    <%= f.submit "Aplicar multa" %>
  </div>
<% end %>
