<%= form_for(@api_key) do |f| %>
  <% if @api_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_key.errors.count, "error") %> prohibited this api_key from being saved:</h2>

      <ul>
      <% @api_key.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Seu nome (ou apelido, como preferir...)" %><br />
    <%= f.text_field :owner_name %>
  </div>
  <br/>
  <div class="field">
    <label>Seu e-mail (Seu novo id e senha serão enviados para este e-mail. Não fazemos SPAM.)</label><br />
    <%= f.text_field :owner_email %>
  </div>
  <br/>
  <div class="field">
    <label>Nome do seu aplicativo (Aparecerá sempre que alguém utilizar seu aplicativo. Poderá ser alterado posteriormente)</label><br />
    <%= f.text_field :app_name %>
  </div>
  <br/>
  <div class="field">
    <%= f.label "Site onde seu aplicativo estará disponível" %><br />
    <%= f.text_field :app_site %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
