<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> -->
  <meta name="description" content="<%= @description || "Sabe quando você vê um carro estacionado em lugar proibido, atrapalhando todo o trânsito? Ou quando alguém para na vaga de deficientes? E aquele sujeito que não parou na faixa de pedestres? Ou o ônibus que não respeita o limite de velocidade colocando em risco a vida dos passageiros, dos pedestres e de outros veículos? Está no ar o MultasSociais.net, a rede social para denunciar a falta de cidadania no trânsito, com fotos e vídeos!" %>">
  <meta name="author" content="Cidadãos Brasileiros">
  <meta name="keywords" content="Multas Sociais, Multas, Multa, Cidadania, Trânsito, Imprudência, Negligência, Impunidade, Corrupção "/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <!--
  <meta property="og:title" content="Multas Sociais" />
  <meta property="og:type" content="cause" />
  <meta property="og:url" content="http://www.multassociais.net/" />
  -->
  <meta property="og:image" content="http://www.multassociais.net<%= image_path "avatar.png" %>" />
  <!--
  <meta property="og:site_name" content="Multas Sociais" />
  -->
  <meta property="fb:page_id" content="294896363878188" />
  
  <title>Multas Sociais</title>

  <!-- CSS concatenated and minified via ant build script-->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "960", "style", "jquery-ui-1.8.16.custom" %>
  <!-- end CSS-->
 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag "images/favicon.png" %>
  
  <!-- Begin Google Analytics Tracking Code -->
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27147250-1']);
    _gaq.push(['_setDomainName', 'multassociais.net']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
  <!-- End Google Analytics Tracking Code -->
  
</head>

<body>
  <!-- Github Forkme Code -->
  <a href="http://github.com/multas/sociais" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
  
  <!-- Begin Facebook Javascript SDK Code -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=310975275591673";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- End Facebook Javascript SDK Code -->
  
  <!-- Begin Twitter Follow Code -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <!-- End Twitter Follow Code -->
  
  <!-- Begin Google Plus One Code -->
  <script type="text/javascript">
    window.___gcfg = {lang: 'pt-BR'};
  
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <!-- End Google Plus One Code -->

  <div id="container" class="container_24">
    <header class="grid_24">
		<%= link_to image_tag("logo.png",  :alt => ""), multas_url, :id => :logo %>
		<nav id="menu-principal">
			<ul>
				<li><%= link_to "Home", multas_url %></li>
				<li><%= link_to "Sobre", sobre_url %></li>
			</ul>
		</nav>
    </header>
    <div id="main" role="main">
    	<div class="posts grid_18 alpha">
	    	<div id="upload-multa" class="clearfix">
	    		<p id="upload-msg">Flagrou alguém atrapalhando o trânsito? Estacionado em lugar proibido? Denuncie já!</p>
	    		<a id="bt-upload-multa" href="#">Multar</a>
	    		
	    		<div id="form-multa" class="clearfix">
	    		  <%= render 'shared/form' %>
	    		</div>
	    	</div>
	    	
	    	<%= yield %>
	    	
    	</div>
    	<div class="grid_6 omega">

        <!-- Twitter Widget -->
    		<%= render 'layouts/twitter_widget' %>
    		
    		<div class="box-social clearfix">
          <!-- Facebook Like -->
          <fb:like href="http://www.multassociais.net/" send="false" width="230" show_faces="true"></fb:like>
          <div class="box-social-separator"></div>
          
          <!-- Twitter Follow -->
          <a href="https://twitter.com/MultasSociais" class="twitter-follow-button" data-show-count="true" data-lang="pt">Follow @MultasSociais</a>
          <div class="box-social-separator"></div>
          
          <!-- Google +1 -->
          <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="230" data-href="http://www.multassociais.net/"></div>
        </div>
    		
    		<%= yield :widgets %>

    	</div>
    	
		
    </div>
    <footer>

    </footer>
  </div> <!--! end of #container -->
  
  <!-- Begin GetClicky Tracking Code -->
  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(66505652); }catch(e){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66505652ns.gif" /></p></noscript>
  <!-- End GetClicky Tracking Code -->

</body>
</html>
